@use "@angular/material" as mat;

@include mat.core();

$task-management-primary: mat.define-palette(mat.$indigo-palette);
$task-management-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$task-management-warn: mat.define-palette(mat.$red-palette);

$task-management-theme: mat.define-light-theme(
    (
        color: (
            primary: $task-management-primary,
            accent: $task-management-accent,
            warn: $task-management-warn
        ),
        density: -2
    )
);

@include mat.all-component-themes($task-management-theme);

// palettes
$color-config: mat.get-color-config($task-management-theme);
$primary-palette: map-get($color-config, "primary");
$accent-palette: map-get($color-config, "accent");
$warn-palette: map-get($color-config, "warn");

// colors
$primary-color: mat.get-color-from-palette($primary-palette, 500);
$accent-color: mat.get-color-from-palette($accent-palette, 500);
$warn-color: mat.get-color-from-palette($warn-palette);
